@font-face {
    font-family: 'TG Haido Grotesk';
    src: url('TGHaidoGrotesk-Medium.woff2') format('woff2'),
        url('TGHaidoGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Light.woff2') format('woff2'),
        url('Inter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

